---
layout: default
---
<br>
        <br>

<div class="container">

<div class="row">
    <div class="col-sm-6">        
       <iframe style="width:100%; border:0" src="http://i9gestor.com.br/formi9responsivo/?r=NTczMTc=&amp;origem=formi9Anderson"></iframe>           
    </div>

</div>
 
        

<!-- Start 3 columns -->
<div class="three-shade-col">
    <div class="col-sm-4">
        <svg class="icon icon-envelope-o"><use xlink:href="#icon-envelope-o"></use></svg>
        <h3>Entre em contato</h3>
        <ul>
            {% if site.contact.phone %}<li><strong>Celular:</strong> {{ site.contact.phone }}</li>{% endif %}            
            {% if site.contact.email %}<li><strong>E-mail:</strong> {{ site.contact.email }}</li>{% endif %}
        </ul>
    </div>
    <div class="col-sm-4">
     <p>
         <strong>Sede i9:</strong> R. Antônio Soares, 329 – Jardim Paulistano
         Sorocaba/SP CEP:18040-570
         <br>
         <strong>Plataforma i9:</strong> Rua Dinamarca, 133 – Jardim Europa
         Sorocaba/SP CEP: 04017-030
         <br>
         <strong>CNPJ:</strong> 20.706.374/0001-34
     </p>
        
    </div>
    <div class="col-sm-4">
        <svg class="icon icon-map-marker"><use xlink:href="#icon-map-marker"></use></svg>
        <h3>Localização</h3>
            <p>
                {{ site.contact.address }}
            </p>
    </div>
</div>
<!-- End 3 columns -->

<!-- Start About -->
<div id="about" class="about">
    <div class="container-fluid">
        <h2 class="section-title">Sobre a i9life</h2>

        <div class="row">
            <div class="col-sm-6">
                <h3>A Empresa</h3>
                <br />
                <p>
                        A i9life é uma empresa 100% brasileira e faz parte de um grupo que está há mais de 20 anos no mercado, a I9 Bussines. Nossa atuação está voltada para área de perfumaria e nutraceuticos. 

                </p>
                <p>
                        Além de produtos acessíveis e de fácil aceitação de mercado temos um plano de carreira super agressivo! A pontuação no plano binário é acumulativo o que nos permite os benefícios de conquistar os prêmios oferecidos pela empresa, a única questão será: Quando? Pois você vai chegar lá! É apenas questão de tempo!
                </p>
                <p>
                        Após a compra de qualquer um dos kits oferecidos pela empresa você compra cada perfume por 49 reais e vende por 98 reais. 100% de lucro.

                </p>
                        Se você vender apenas 1 perfume por dia , no final do mês você terá um lucro de 1.470 reais.
                    </p>
                
            </div>
            <div class="col-sm-6">
                <img src="img/about.jpg" alt="...">
            </div>
        </div>
    </div>
</div>
<!-- End About -->

<!-- Start Treatments -->
<div id="treatments" class="treatments">
    <div class="container-fluid">
        <h2 class="section-title">Bônus da i9life</h2>

        <div class="row">
            {% for treatment in site.data.treatments %}
                <div class="col-sm-6 col-md-4">
                    <div class="icon-box">
                        <svg class="icon {{ treatment.icon }}"><use xlink:href="#{{ treatment.icon }}"></use></svg>
                        <h4>{{ treatment.title }}</h4>
                        <p>{{ treatment.description }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
<!-- End Treatments -->



</div>