<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Nós temos o que você precisa!</h2>
                <hr class="light">
                <p class="text-faded">Nossa MISSÃO é inovar a vida das pessoas por meio dos benefícios de nossos produtos e da oportunidade i9 de vendas diretas e marketing multinível.</p>
                <p class="text-faded">
                    i9 sua vida! Revenda os melhores produtos do mercado de suplementos, nutracêuticos, perfumaria fina e cosméticos.
                </p>
                <a href="#services" class="btn btn-default btn-xl">Conheça nossas formas de ganho!</a>
            </div>
        </div>
    </div>
</section>
