<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>i9 sua vida!</h1>
            <hr>

            <p>
              A i9 é uma empresa do grupo i9 Business com 20 anos de atuação no mercado.
              Somos focados em oferecer produtos de extrema qualidade para saúde, beleza e bem-estar. Temos um plano de marketing inovador e estamos em constante expansão.
            </p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Saiba mais</a>
        </div>
    </div>
</header>
